/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo img {
    height: 50px;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url('images/background.jpeg');
    background-size:120%; 
    background-position: center;
    color: #fff;
    text-align: center;
    padding:250px 0;
  
   
}

.hero h1 {
    font-size: 36px;
    margin-bottom:30px;
    color:black
}

.hero p {
    font-size: 18px;
    margin-bottom:60px;
    color: rgba(42, 41, 41, 0.452);
}





.cta-button {
    display: inline-block;
    background-color: #f78307;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}
.services {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.services h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.service {
    margin-bottom: 30px;
}

.service img {
    max-width: 100%;
    height: auto;
}

.service h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}

.contact {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.contact a.cta-button {
    background-color: #fff;
    color: #333;
    border: 2px solid #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact a.cta-button:hover {
    background-color: #555;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.footer-logo img{
    width: 200px;
    height:50px;
}
.about {
    background-color: #f4f4f4;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of columns */
}

.about-text {
    flex: 1;
    padding: 20px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
}
